#nullable enable
using System.Diagnostics.CodeAnalysis;
using UnrealSharp;
using UnrealSharp.Core;
using UnrealSharp.Engine;
using UnrealSharp.Attributes;
using UnrealSharp.CoreUObject;
using UnrealSharp.GameDataAccessTools;
using UnrealSharp.UnrealSharpCore;
using GameDataAccessTools.Core;
using GameDataAccessTools.Core.Utilities;

namespace {{Namespace}};

[UClass(ClassFlags.DefaultConfig, ConfigCategory = "{{ConfigCategory}}")]
public partial class U{{ClassName}}Settings : UCSDeveloperSettings 
{
    {{#Repositories}}
    {{#HasAsset}}
    [UProperty(PropertyFlags.EditDefaultsOnly | PropertyFlags.BlueprintReadOnly | PropertyFlags.Config, Category = "RepositoryAssets")]
    public TSoftObjectPtr<{{RepositoryClassName}}> {{Name}} { get; }
    
    {{/HasAsset}}
    {{/Repositories}}

    {{#HasDisplayName}}
    protected override FText GetDisplayName()
    {
        return FText.Localized("GameDataAccessTools", "{{Namespace}}.{{ClassName}}_DisplayName", "{{DisplayName}}");
    }    
    {{/HasDisplayName}}
}