#nullable enable
using System.Diagnostics.CodeAnalysis;
using UnrealSharp;
using UnrealSharp.Core;
using UnrealSharp.Engine;
using UnrealSharp.Attributes;
using UnrealSharp.CoreUObject;
using UnrealSharp.DeveloperSettings;
using UnrealSharp.GameDataAccessTools;
using GameDataAccessTools.Core;

namespace {{Namespace}};

public static partial class {{ClassName}} 
{
    {{#Repositories}}
    public static partial {{Type}} {{Name}} => U{{../ClassName}}Manager.Instance.{{Name}};
    {{/Repositories}}

}