#nullable enable
using UnrealSharp;

namespace {{Namespace}};

{{#Extensions}}
public static partial class {{../ClassName}}_{{EngineName}}
{
    {{#Properties}}
    private static readonly FName {{../EngineName}}_{{Identifier}} = "{{Identifier}}";
    {{/Properties}}
        
    extension({{ExtendedClass}})
    {
        {{#Properties}}
        public static FName {{Identifier}} => {{../EngineName}}_{{Identifier}};
        {{/Properties}}
    }
}

{{/Extensions}}