#nullable enable
using UnrealSharp;

namespace {{Namespace}};

static partial class {{ClassName}}
{
    {{#Extensions}}
    {{#Properties}}
    private static readonly FName {{../EngineName}}_{{Identifier}} = "{{Identifier}}";
    {{/Properties}}
    
    extension({{ExtendedClass}})
    {
        {{#Properties}}
        public static FName {{Identifier}} => {{../EngineName}}_{{Identifier}};
        {{/Properties}}
    }

    {{/Extensions}}
}