#nullable enable
{{#Usings}}
{{Declaration}}
{{/Usings}}

namespace {{Namespace}};

public static partial class {{EngineName}}ViewExtensions
{
    extension(StructView<{{StructName}}> structView) 
    {
        {{#Properties}}
        {{#HasBackingField}}
        {{#HasGetterBody}}private {{/HasGetterBody}}{{^HasGetterBody}}{{Access}}{{/HasGetterBody}}{{Type}} {{Name}}{{#HasGetterBody}}_BackingField{{/HasGetterBody}}
        {
            get
            {
                {{#MarshallerInstanced}}
                {{#MarshallerIsView}}
                {{Name}}_Marshaller ??= new {{MarshallerInfo.Name}}({{MarshallerInfo.ChildMarshallerType}}.FromNative);
                {{/MarshallerIsView}}  
                {{^MarshallerIsView}}
                {{Name}}_Marshaller ??= new {{MarshallerInfo.Name}}({{Name}}_NativeProperty, {{MarshallerInfo.ChildMarshallerType}}.ToNative, {{MarshallerInfo.ChildMarshallerType}}.FromNative{{#MarshallerHasValue}}, {{MarshallerInfo.ValueMarshallerType}}.ToNative, {{MarshallerInfo.ValueMarshallerType}}.FromNative{{/MarshallerHasValue}});    
                {{/MarshallerIsView}}
                IntPtr {{Name}}_NativeBuffer = IntPtr.Add(structView.NativePtr, {{Name}}_Offset);
                return {{Name}}_Marshaller.FromNative({{Name}}_NativeBuffer, 0);
                {{/MarshallerInstanced}}
                {{^MarshallerInstanced}}
                return {{MarshallerInfo.Name}}.FromNative(IntPtr.Add(structView.NativePtr, {{Name}}_Offset), 0);
                {{/MarshallerInstanced}}
            }
        }
            
        {{/HasBackingField}}
        {{#HasGetterBody}}
        {{Access}}{{Type}} {{Name}}
        {
            get{{#IsExpressionBody}} => {{GetterBody}};{{/IsExpressionBody}}
            {{^IsExpressionBody}}
            {{GetterBody}}
            {{/IsExpressionBody}}
        }
        
        {{/HasGetterBody}}    
        {{/Properties}}
    }

    private static readonly IntPtr NativeClassPtr;
    public static int NativeDataSize { get; }

    {{#Properties}} 
    {{#HasBackingField}} 
    private static int {{Name}}_Offset;
    {{#MarshallerInstanced}}
    private static IntPtr {{Name}}_NativeProperty;
    private static {{MarshallerInfo.Name}}? {{Name}}_Marshaller = null;
    {{/MarshallerInstanced}}
    {{/HasBackingField}}
    {{/Properties}}

    static {{EngineName}}ViewExtensions()
    {
        NativeClassPtr = UCoreUObjectExporter.CallGetNativeStructFromName(typeof({{StructName}}).GetAssemblyName(), "{{Namespace}}", "{{EngineName}}");
        {{#Properties}}
        {{#HasBackingField}}
        {{^MarshallerInstanced}}IntPtr {{/MarshallerInstanced}}{{Name}}_NativeProperty = FPropertyExporter.CallGetNativePropertyFromName(NativeClassPtr, "{{Name}}");
        {{Name}}_Offset = FPropertyExporter.CallGetPropertyOffset({{Name}}_NativeProperty);
        {{/HasBackingField}}
        {{/Properties}}
        NativeDataSize = UScriptStructExporter.CallGetNativeStructSize(NativeClassPtr);
    }
}