---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
MaxEmptyLinesToKeep: 1
TabWidth: 4
IndentWidth: 4
SortIncludes: CaseInsensitive
AllowShortFunctionsOnASingleLine: None
NamespaceIndentation: All
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: 'CoreMinimal.h'
      Priority: 0
      SortPriority: 0
      CaseSensitive: false
    - Regex:           '.*.generated.h'
      Priority:        1000
      SortPriority:    1000
    - Regex:           '.*'
      Priority:        0
      SortPriority:    1
BreakBeforeConceptDeclarations: true
AlwaysBreakTemplateDeclarations : Yes
ForEachMacros: 
    - TRIPLE_LOOP
Macros:
    - check(x)=assert(x);
    - verify(x)=x;
    - ABSTRACT_METHOD={}