[submodule "Plugins/Framework/UnrealSharp"]
	path = Plugins/Framework/UnrealSharp
	url = https://github.com/retroandchill/UnrealSharp
[submodule "Plugins/Utilities/RangeV3/Source/ThirdParty/RangeV3Library/range-v3"]
	path = Plugins/Utilities/RangeV3/Source/ThirdParty/RangeV3Library/range-v3
	url = https://github.com/ericniebler/range-v3.git
