using UnrealSharp;
using UnrealSharp.Attributes;
using UnrealSharp.Attributes.MetaTags;
using UnrealSharp.Engine;
using UnrealSharp.RPGCore;

namespace {{Namespace}};

public static partial class {{EngineName}}Extensions 
{
    extension({{ClassName}} unit)
    {
        {{#Components}}
        {{#Properties}}
        public {{Type}} {{Name}} 
        {
            {{#HasGetter}}
            get => unit.{{../ComponentName}}.{{Name}};
            {{/HasGetter}}
            {{#HasSetter}}
            set => unit.{{../ComponentName}}.{{Name}} = value;
            {{/HasSetter}}
        }
        
        {{/Properties}}
        {{#Methods}}
        public {{ReturnType}} {{Name}}({{#Parameters}}{{RefQualifier}}{{Type}} {{Name}}{{#HasDefaultValue}} = {{DefaultValue}}{{/HasDefaultValue}}{{^IsLast}}, {{/IsLast}}{{/Parameters}}){{GenericConstraint}}
        {
            {{^ReturnsVoid}}return {{/ReturnsVoid}}unit.{{../ComponentName}}.{{Name}}({{#Parameters}}{{RefQualifier}}{{Name}}{{^IsLast}}, {{/IsLast}}{{/Parameters}});
        }    
        
        {{/Methods}}
        {{/Components}}
    }
}

