using static UnrealSharp.Interop.FTypeBuilderExporter;
using static UnrealSharp.Interop.FPropertyExporter;
using static UnrealSharp.Interop.UClassExporter;
using static UnrealSharp.Interop.UFunctionExporter;

using UnrealSharp;
using UnrealSharp.Core;
using UnrealSharp.Attributes;
using UnrealSharp.CoreUObject;
using UnrealSharp.Engine;
using UnrealSharp.RPGCore;
using GameDataAccessTools.Core.Utilities;
using System.Runtime.CompilerServices;

namespace {{Namespace}};

partial class {{ClassName}} : {{#Components}}IRPGEntity<{{ComponentType}}>{{^IsLast}}, {{/IsLast}}{{/Components}}
{
    {{#Components}}
    {{ComponentType}} IRPGEntity<{{ComponentType}}>.Component => {{ComponentName}};
    {{/Components}}

    protected override void CreateRequiredComponents_Implementation()
    {
        {{#Components}}
        {{ComponentName}} = CreateComponent<{{ComponentType}}>();
        {{#HasInitializer}}
        {{ComponentName}}.BindInitFunction<{{../InitializerStruct}}>({{ComponentName}}.{{InitializerName}});
        {{/HasInitializer}}
        {{^IsLast}}
            
        {{/IsLast}}
        {{/Components}}
    }

    {{#HasFactory}}
    protected override UScriptStruct ManagedGetEntityStruct_Implementation() => {{InitializerStruct}}.StaticStruct;

    public static partial {{ClassName}} Create({{OuterType}} {{OuterParam}}, {{InitializerStruct}} {{InitializerParams}})
    {
        var newEntity = NewObject<{{ClassName}}>({{OuterParam}}{{#HasSubclassSource}}, {{SubclassSource}}{{#SubclassSourceIsMethod}}(){{/SubclassSourceIsMethod}}{{/HasSubclassSource}});
        newEntity.InitializeComponents({{InitializerParams}});
        return newEntity;
    }
    {{/HasFactory}}
}

internal static class {{ClassName}}_AdditionalOverrides_Initializer
{
    #pragma warning disable CA2255
    [ModuleInitializer]
    #pragma warning restore CA2255
    public static void Register() => StartUpJobManager.RegisterTypeAdditionalBuildJob("{{EngineName}}", Initialize);

    private static void Initialize(IntPtr nativeType)
    {
        NewOverride(nativeType, "CreateRequiredComponents");
        {{#HasFactory}}
        NewOverride(nativeType, "K2_GetEntityStruct");
        {{/HasFactory}}
    }

}